
.logo {
  width: 13.5rem !important;
}

.body-color-verify {
  background-color: rgba(75,0,130, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
}

.page-loader-verify {
  padding-top: 1.5%;
  background-color: rgba(75,0,130, 0.1);
  position: fixed;
  z-index: 99;
  text-align: center;
  width: 100%;
  height: 100%;
}

.loader-icon {
  line-height: inherit !important;
  color: rgb(227, 0, 34);
  width: 10rem !important;
}

.header2 {
  color: rgb(227, 0, 34);
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bolder;
}


.header3 {
  color: rgb(227, 0, 34);
  font-family: 'Kaushan Script', cursive;
}

.h2-size  {
  font-size: 3rem !important;
}

.h3-size  {
  font-size: 2rem !important;
}

.border-radius-for-icon {
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  margin: 0 auto;
  border-radius: 100%;
  background-color: rgba(75,0,130, 0.9);
  width: 14rem;
  height: 14rem;
  animation: loading-effect 1.1s infinite linear;
  -moz-animation: loading-effect 1s infinite linear;
  -o-animation: loading-effect 1s infinite linear;
  -webkit-animation: loading-effect 1s infinite linear;
  position: relative;
}

@-webkit-keyframes loading-effect  {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes loading-effect  {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes loading-effect  {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes loading-effect  {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes loading-effect  {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
